<rt:extends href="index.html" />
<rt:block name="page_title">{$saddr} {$daddr}</rt:block>
<rt:block name="main">
<div style="width:240px;margin:0 auto;">
    <center><img src="i/logo.gif" alt="いつ来る!?" /></center>
    <div align="left">
        <p>このページをブックマークしてください。<br />次開いたときは乗り換え案内のページに飛びます。</p>

        <?php /* if (!$mobile->isDocomo()): ?>
            <p>QRコードを読み取ってからブックマークすることもできます。</p>
        <?php endif; */ ?>

        <p><a href="/">別のブックマークを作る場合はここをクリックしてトップに戻ってください</a></p>
    </div>
    <?php /*
        $api = 'http://chart.apis.google.com/chart?chs=230x230&cht=qr&chl=';
        $saddr = urlencode(mb_convert_encoding($_GET['saddr'], 'shift_jis', 'utf-8, shift_jis'));
        $daddr = urlencode(mb_convert_encoding($_GET['daddr'], 'shift_jis', 'utf-8, shift_jis'));
        $params = sprintf('http://itsuku.ru/?saddr=%s&daddr=%s&submit&qr', $saddr, $daddr);
        $params = urlencode($params);

        $qrcode = sprintf('%s%s', $api, $params);
    ?>
    <?php if (!$mobile->isDocomo()): ?>
        <p><img src="<?php echo htmlspecialchars($qrcode, ENT_QUOTES, 'utf-8') ?>"></p>
    <?php endif; */ ?>
    <hr width="100%" />
    <font size="2"><center>powered by <a href="http://wozozo.org">wozozo</a> with <a href="http://nequal.jp">nequal</a></center></font>
</div>
</rt:block>

